@CHARSET "UTF-8";

#header {
	width: 100%;
}

#header #cell1 {
	text-align: center;
	font: 25px solid;
}

#header #cell1 a {
	text-decoration: none;
	color: blue;
}

#right-table a {
	color: blue;
	font-size: 17px;
}

#header #right-table {
	float: right;
}

#menu-list {
	margin-top: 20px;
	background-color: #D0D0D0;
}

a {
	color: blue;
}

a:VISITED {
	color: blue;
}

a:HOVER {
	text-decoration: none;
}

#menu-list table {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}

#menu-list td {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.news-object {
	border-spacing: 20px;
	margin-bottom: 20px;
	width: 100%;
}

.input-field {
	width: 400px;
}

.label-feld {
	width: 100px;
}

#filter-frm {
	margin-bottom: auto;
}
.submit-btn {
	font-size: 20px;
	background-color: #CCCCFF;
	cursor: pointer;
	padding: 5px 10px 5px 10px;
}

.submit-btn:HOVER {
	color: #6699FF;
}

.link-15 {
	font-size: 25px;
}

.pagination {
	text-align: center;
	width: auto;
	margin: 0 auto;
	padding: 20px;
	font: 14px/24px sans-serif;
	background: #f2f2f2;
	padding: 20px;
	margin-bottom: 20px;
}

.page-link,.page-span {
	display: inline-block;
	padding: 0px 9px;
	margin-right: 4px;
	border-radius: 3px;
	border: solid 1px #c0c0c0;
	background: #e9e9e9;
	font-size: .875em;
	font-weight: bold;
	text-decoration: none;
	color: #717171;
}

.page-link:VISITED {
	color: #717171
}

.page-link:hover {
	background: #fefefe;
}

.page-span {
	border: none;
	background: #616161;
	color: #f0f0f0;
}

.bottom-row td {
	padding-top: 20px;
}

.label-403 {
	font-size: 20px;
	font-weight: bold;
}

.center-table {
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	border-spacing: 10px;
}

.success-message-div {
	margin: auto;
	width: 500px;
	height: 50px;
	color: green;
	display: table;
	padding: 10px;
	font-size: 20px;
}

.success-message-div div {
	background-color: rgba(255, 255, 0, 0.5);
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	border: 1px solid green;
}

.error-message-div {
	margin: auto;
	margin-bottom: 30px;
	width: 500px;
	height: 30px;
	color: green;
	padding: 10px;
	font-size: 20px;
	background-color: rgba(229, 204, 255, 0.5);
	color: red;
	text-align: center;
	border: 1px solid black;
}